@model List<DatePot.Areas.Identity.Models.Identity.UserAccessToGroup>
<form method="POST" asp-page-handler="UserGroupUpdated" class="setUserAccess">
    <input type="hidden" value="@Model[0].UserID" name="UserID" id="UserID" />
    @foreach (var item in Model)
    {
        <div class="row mt-3">
            <div class="col">
                <label class="control-label">@item.PotName</label>
            </div>
            <div class="col">
                <input PotID="@item.PotID" checked="@item.AccessGranted" type="checkbox" class="form-control"
                name="@item.PotID" />
            </div>
        </div>
    }
    <button type="button" class="btn btn-primary btnSaveUserAccess">Save</button>
</form>