@page
@model DatePot.Areas.FoodPot.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-primary btnAddRestaurant" data-toggle="modal" data-target="#AddRestaurantModal">Add Restaurant</button>
        <button type="button" class="btn btn-primary float-right btnRandomRestaurant" data-toggle="modal" data-target="#RandomRestaurantModal">Give me a Restaurant</button>
    </div>
</div>
<div class="row pt-2">
    <div class="col-12">
        <button type="button" class="btn btn-primary btnAddFoodType" data-toggle="modal" data-target="#AddFoodTypeModal">Add Food Type</button>
        <button type="button" class="btn btn-primary btnAddWhen" data-toggle="modal" data-target="#AddWhenModal">Add When</button>
    </div>
</div>
<div class="row pt-4">
    <div class="col-12">
        <table id="RestaurantTable" class="table table-striped table-responsive table-stripedFoodPot table-borderless ClientSearchTable foodrows">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Expense</th>
                    <th>Location</th>
                    <th>When</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Restaurants)
                {
                    <tr>
                        <td>
                            @item.RestaurantName
                        </td>
                        <td>
                            @item.FoodTypeText
                        </td>
                        <td>
                            @item.ExpenseText
                        </td>
                        <td>
                            @item.LocationText
                        </td>
                        <td>
                            @item.WhenText
                        </td>
                        <td>
                            <a asp-page="/View" asp-route-Id="@item.RestaurantID">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="RandomRestaurantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Pick a meal time</label>
                <select asp-items="Model.When" class="form-control ddlWhenRandomRestaurant" onchange="return RandomRestaurant()" data-placeholder="Choose a genre..." required="required"></select>
                <div class="divRandomRestaurant"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddRestaurantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Restaurant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div lcass="form-group">
                        <div class="row">
                            <div class="col-12">
                                <label asp-for="NewRestaurant.RestaurantName" class="control-label"></label>
                                <input asp-for="NewRestaurant.RestaurantName" class="form-control NewRestaurantRestaurantName" required="required" type="text" />
                                <span asp-validation-for="NewRestaurant.RestaurantName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label asp-for="NewRestaurant.ExpenseID" class="control-label"></label>
                                <select asp-items="Model.Expense" class="form-control custom-select NewRestaurantExpenseID" required="required"></select>
                                <span asp-validation-for="NewRestaurant.ExpenseID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label asp-for="NewRestaurant.LocationID" class="control-label"></label>
                                <select asp-items="Model.Location" class="form-control custom-select NewRestaurantLocationID" required="required"></select>
                                <span asp-validation-for="NewRestaurant.LocationID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label class="control-label">Type</label>
                                <select asp-items="Model.FoodType" class="form-control form-control-chosen ddlFoodType" multiple data-placeholder="Choose a genre..." required="required"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label class="control-label">When</label>
                                <select asp-items="Model.When" class="form-control form-control-chosen ddlWhen" multiple data-placeholder="Choose a genre..." required="required"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="button" value="Add" class="btn btn-primary btnAddRestaurant" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="AddFoodTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Food Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-page-handler="FoodType">
                <div class="modal-body">
                    <div lcass="form-group">
                        <div class="row">
                            <div class="col-12">
                                <label asp-for="NewFoodType.FoodTypeText" class="control-label"></label>
                                <input asp-for="NewFoodType.FoodTypeText" class="form-control" required="required" type="text" />
                                <span asp-validation-for="NewFoodType.FoodTypeText" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="FoodTypeDupeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="FoodTypeDupeText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Right you are my boy!</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="WhenDupeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="WhenDupeText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Right you are my boy!</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AddWhenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add When</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-page-handler="When">
                <div class="modal-body">
                    <div lcass="form-group">
                        <div class="row">
                            <div class="col-12">
                                <label asp-for="NewWhen.WhenText" class="control-label"></label>
                                <input asp-for="NewWhen.WhenText" class="form-control" required="required" type="text" />
                                <span asp-validation-for="NewWhen.WhenText" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="RestaurantAttended" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">All done</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p>All sorted, Hope you enjoy the food and/or drinks! 😁🥗🍸</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.form-control-chosen').chosen();
            const urlParams = new URLSearchParams(window.location.search);
            const redirectParam = urlParams.get('create');
            if (redirectParam == "yes") {
                $('#AddRestaurantModal').modal();
            }
            const redirectParamDupeCheck = urlParams.get('redirect');
            const redirectParamDupeCheckValue = urlParams.get('value');
            if (redirectParamDupeCheck == "FoodTypedupe") {
                $('#FoodTypeDupeModal').modal();
                $('#FoodTypeDupeModal').find('.modal-title').text('You sure about ' + redirectParamDupeCheckValue + ' mate?')
                $('#FoodTypeDupeModal').find('.FoodTypeDupeText').text('You have tried to add ' + redirectParamDupeCheckValue + ' which already exists');
            } else if (redirectParamDupeCheck == "Whendupe") {
                $('#WhenDupeModal').modal();
                $('#WhenDupeModal').find('.modal-title').text('You sure about ' + redirectParamDupeCheckValue + ' mate?')
                $('#WhenDupeModal').find('.WhenDupeText').text('You have tried to add ' + redirectParamDupeCheckValue + ' which already exists');
            } else if (redirectParamDupeCheck == "RandomRestaurant") {
                $('#RandomRestaurantModal').modal();
            } else if (redirectParamDupeCheck == "RestaurantAttended") {
                $('#RestaurantAttended').modal();
            }

            $('#RestaurantTable').dataTable({
                "aoColumns": [
                    { "sType": "html" },
                    { "sType": "html" },
                    { "sType": "html" },
                    { "sType": "html" },
                    { "sType": "html" },
                    { "sType": "html" }
                ],
                "columnDefs": [
                    { "targets": 0 },
                    { "targets": 1 },
                    { "targets": 2 },
                    { "targets": 3 },
                    { "targets": 4 },
                    { orderable: false, "targets": 5 }
                ],
                "pagingType": "numbers",
                "paging": false,
                "order": [0, 'desc'],
                "language": {
                    "emptyTable": "No data available in table"
                },
                stateSave: true
            });
        });
        $(".btnAddRestaurant").on("click", function () {
            var pathname = window.location.pathname;
            var RestaurantName = $(".NewRestaurantRestaurantName").val();
            var ExpenseID = $(".NewRestaurantExpenseID").val();
            var LocationID = $(".NewRestaurantLocationID").val();
            $.ajax({
                dataType: 'json',
                url: pathname,
                type: 'POST',
                data: {
                    RestaurantName: RestaurantName,
                    ExpenseID: ExpenseID,
                    LocationID: LocationID,
                    FoodType: $(".ddlFoodType").chosen().val(),
                    When: $(".ddlWhen").chosen().val()
                },
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (response) {
                    window.location.replace("FoodPot/View?Id=" + response);
                },
                error: function (ex) {
                    alert("AJAX Request Failed, Contact Support");
                    console.log(ex);
                }
            });
        });
        function RandomRestaurant() {
            var WhenID = $(".ddlWhenRandomRestaurant").val();
            $('.divRandomRestaurant').load('?handler=RandomRestaurant', "WhenID=" + WhenID);
        }
    </script>
}
