@page
@model DatePot.Areas.VinylPot.Pages.ViewModel
@{
    ViewData["Title"] = "View";
}
@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $('.form-control-chosen').chosen();
        const urlParams = new URLSearchParams(window.location.search);
        const redirectParam = urlParams.get('redirect');
        if (redirectParam == "update") {
            setTimeout(function () {
                $(".savedAlert").modal();
                $('.modal-backdrop').removeClass("modal-backdrop");
                setTimeout(function () {
                    $(".savedAlert").modal('hide');
                }, 1000);
            }, 250);
        }
    });
    $(".btnUpdateVinyl").on("click", function () {
        var pathname = window.location.pathname;
        var VinylID = $(".hidVinylID").val();
        var Name = $(".UpdateVinylName").val();
        var ArtistName = $(".UpdateVinylArtistName").val();
        var Purchased = $(".UpdateVinylPurchased").prop("checked");
        var AddedByID = $(".UpdateVinylAddedByID").chosen().val();

        $.ajax({
            dataType: 'json',
            url: pathname,
            type: 'POST',
            data: {
                VinylID: VinylID,
                Name: Name,
                ArtistName: ArtistName,
                Purchased: Purchased,
                AddedByID: AddedByID
            },
            headers: {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            success: function (response) {
                if (Number.isInteger(response)) {
                    window.location.replace("View?Id=" + response + "&redirect=update");
                } else {
                    $("#ValidationCheck").modal();
                    $(".errorText").text(response);
                }
            },
            error: function () {
                alert("AJAX Request Failed, Contact Support");
            }
        });
    });
</script>
}
<div class="modal fade savedAlert" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="alert alert-success text-center" role="alert">
            Saved successful!
        </div>
    </div>
</div>
<div class="fadeIn">
    @if (Model.VinylDetails is null)
    {
        <h4>That Vinyl has not been found.</h4>
        <h5>Would you like to create a Vinyl instead?</h5>
        <a class="btn btn-primary" asp-page="/Index" asp-route-create="yes">Yes please!</a>
        <a class="btn btn-secondary" asp-page="/Index">No thank you</a>
    }
    else
    {
        <div class="row">
            <div class="col-6">
                <h1>Vinyl Details</h1>
            </div>
            <div class="col-6">
                <a class="btn btn-primary float-right" asp-page="/Index">Back</a>
                <button type="button" class="btn btn-danger float-right mr-2" data-toggle="modal"
                data-target="#ArchiveVinyl">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-archive-fill" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                        d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z" />
                    </svg>
                </button>
                <form method="post" asp-page-handler="Archive">
                    @Html.AntiForgeryToken()
                    <input value="@Model.VinylDetails.VinylID" asp-for="UpdateVinylDetails.VinylID" type="hidden" />
                    <div class="modal fade ArchiveVinyl" id="ArchiveVinyl" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Archive Vinyl?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to do this?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Yes I am sure!</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">I am big
                                        dumb</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card bg-light mb-2">
            <div class="card-body">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="UpdateVinylDetails.VinylID" value="@Model.VinylDetails.VinylID" type="hidden"
                    class="hidVinylID" />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <label asp-for="UpdateVinylDetails.Name" class="control-label"></label>
                                <input asp-for="UpdateVinylDetails.Name" class="form-control UpdateVinylName"
                                value="@Model.VinylDetails.Name" required="required" type="text" />
                                <span asp-validation-for="UpdateVinylDetails.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label asp-for="UpdateVinylDetails.ArtistName" class="control-label"></label>
                                <input asp-for="UpdateVinylDetails.ArtistName" class="form-control UpdateVinylArtistName"
                                value="@Model.VinylDetails.ArtistName" required="required" type="text" />
                                <span asp-validation-for="UpdateVinylDetails.ArtistName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label asp-for="UpdateVinylDetails.AddedByID" class="control-label"></label>
                                <select asp-for="UpdateVinylDetails.AddedByID" asp-items="Model.Users"
                                class="form-control form-control-chosen UpdateVinylAddedByID"
                                value="@Model.VinylDetails.AddedByID" data-placeholder="Choose an user..."
                                required="required"></select>
                                <span asp-validation-for="UpdateVinylDetails.AddedByID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-3">
                                <label asp-for="UpdateVinylDetails.Purchased" class="control-label"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="UpdateVinylDetails.Purchased" checked="@Model.VinylDetails.Purchased"
                                type="checkbox" class="form-control UpdateVinylPurchased" autocomplete="off" />
                                <span asp-validation-for="UpdateVinylDetails.Purchased" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="button" value="Save" class="btn btn-primary btnUpdateVinyl btnVinylButtons" />
                    </div>
                </form>
            </div>
        </div>
    }
</div>